.checkout-box-wrapper {
	width: 40%;
	// margin-left: 8%;
	position: relative;
}
.checkout-box {
	position: sticky;
	top: 80px;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 12px;
	padding: 24px;
	// box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}
