.detail-body {
	width: 60%;

	.feature {
		ul {
			padding-bottom: 30px;
			margin: 0;
		}
		// ul {
		// 	display: flex;
		// 	flex-flow: row wrap;
		// 	align-items: center;
		// 	justify-content: left;

		// 	li {
		// 		margin-left: 5px;
		// 	}
		// }
	}
	.border-line {
		margin: 0 !important;
	}
	.amenities {
		border-bottom: 1px solid rgb(200, 201, 202);
		padding: 30px 0;

		.amenity-title {
			margin-bottom: 16px;
		}
	}
	.guest-reviews {
		padding: 30px 0;
	}
}
